h1 {
    font-size: 1.5em;
}

#content {
    width:50%;
    margin:auto;
}
#byline {
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}
/* list of fonts...first font is preferred but if comp doesnt have then it defaults to next */

#article{
    color: purple;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.caption{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}

#stats{
    font-size: 1em;
}
#tagline{
    font-size: 0.75em;
}

/* mobile rules */
@media (orientation:portrait) {
    #content {
        width: 100%;
    }
    body {
        font-size: 2.5em;
        /*2.5 em font size used for mobile users and readers */
    }
}

div{
    border: 
}