h1 {
    font-size: 2em;
    text-align: center
}

.content {
    width:75%;
    margin:auto;
    /* don't want article to take up the entire screen, so 75 for laptop% */
}
#byline {
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}

/* code for the navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #041E42;
  padding: 15px 30px;
}

.nav-buttons {
  display: flex;
  gap: 30px;
}

.nav-item {
  color: white;
  font-weight: 600;
}
/* the hover code makes it so users can see another color of the MLB logo when they hover over one of the tabs in the hamburger menu */
.nav-item:hover {
  color: #e63946;
}

div {
  margin-bottom: 30px;
}

.caption{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}

#intro {
  max-width: 800px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
}
/* container set in column direction to bring the entire bio page moving down */
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
  padding: 20px;
}
/* used row flex direction to make sure that the youtube and image frames are to the left of the text (horizontal axis) */
.section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 55px;
}

.image{
  flex: 0 0 25%;
  width: 25%
}

.youtubecontainer {
  flex: 0 40%;
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9; /* aspect ratio that corresponds with Youtube sizing */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  flex: 1 100px;
  line-height: 1.6;
  font-size: 16px;
}

.name {
    font-size: 2em;
}

.docname {
    font-size: 1.5em;
    font-style: italic;
}

.description {
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.6;
  font-size: 1.5em;
}

.mapcontainer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* button details */
details summary {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  list-style: none;
  border: none;
  outline: none
  ;
}

/* because I made each team have its own class, I styled each team with its official color code */
.diamondbacks summary { background-color: #A71930; }
.athletics summary  { background-color: #003831; }
.braves summary  { background-color: #CE1141; }
.orioles summary  { background-color: #DF4601; }
.redsox summary  { background-color: #BD3039; }
.cubs summary  { background-color: #002F6C; }
.whitesox summary  { background-color: #000000; }
.reds summary  { background-color: #C6011F; }
.guardians summary  { background-color: #E31937; }
.rockies summary  { background-color: #33006F; }
.tigers summary  { background-color: #0C2340; }
.astros summary  { background-color: #002D62; }
.royals summary  { background-color: #004687; }
.angels summary  { background-color: #BA0021; }
.dodgers summary  { background-color: #005A9C; }
.marlins summary  { background-color: #00A3E0; }
.brewers summary  { background-color: #12284B; }
.twins summary  { background-color: #D31145; }
.mets summary  { background-color: #FF5910; }
.yankees summary  { background-color: #0C2340; }
.phillies summary  { background-color: #E81828; }
.pirates summary  { background-color: #000000; }
.padres summary  { background-color: #2F241D; }
.giants summary  { background-color: #FD5A1E; }
.mariners summary  { background-color: #0C2C56; }
.cardinals summary  { background-color: #C41E3A; }
.rays summary  { background-color: #8FBCE6; }
.rangers summary  { background-color: #003278; }
.bluejays summary  { background-color: #134A8E; }
.nationals summary  { background-color: #AB0003; }

/* mobile rules */
@media (orientation:portrait) {
    #content {
        width: 100%;
    }
/* font size to support mobile users */
    body {
        font-size: 2em;
    }
.nav-item {
        font-size: 14px;
  }
  .caption {
    font-size: 0.5em;
    /* the caption was coming out much bigger than the description in the index page, so I bumped the font size down to make it look more natural for mobile users*/
}
  .section {
    flex-direction: column;
  }
  /*for the about me section, the above code will take away the two-column layout that I have for desktop, and the code below will center my first image*/
  .image {
    flex: 0 0 80%;
    width: 80%;
    margin: 0 auto;
}

  .description {
    font-size: 1em;
  }
}
