h1 {
    font-size: 2em;
}

.content {
    width:50%;
    margin:auto;
    /* don't want article to take up the entire screen, so 50% */
}
#byline {
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}
/* list of fonts...first font is preferred but if comp doesnt have then it defaults to next */

/* Navbar */

div {
  margin-bottom: 30px;
}

#intro {
    font-size: 2em;
}