h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

#content {
    width:50%;
    margin:auto;
}
#byline {
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}

.article{
    font-family:Georgia, 'Times New Roman', Times, serif
}

#tagline{
    font-size: 0.75em;
}

/* mobile rules */
@media (orientation:portrait) {
    #content {
        width: 100%;
    }
/* font size to support mobile users */
    body {
        font-size: 2.5em;
        /*2.5 em font size used for mobile users and readers */
    }
}