h1 {
    font-size: 1.5em;
}
#content {
    width:50%;
    margin:auto;
}
#byline {
    font-family: 'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif;
}

.article{
    font-family:Georgia, 'Times New Roman', Times, serif
}

#youtube{
    width: 50%
}